@page{
  size: letter portrait;
  margin: 0;
}

@media print { body { -webkit-print-color-adjust: exact; } }

*{
  box-sizing: border-box;
}

:root{
  --page-width: 8.5in;
  --page-height: 11in;

  --sidebar-width: calc(var(--page-width) - var(--main-width));
  --decorator-horizontal-margin: 0.2in;

  --sidebar-horizontal-padding: 0.2in;

  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.6in;

  --main-blocks-title-icon-offset-left: -19pt;

  /* My vars */
  --div-space-big: 25px;
  --div-space-small: 17px;
  --paragraph-padding: 8px;
  --accent-color: #ab6f6d;//6fd1bd;
  --thick-line: 4px solid #222;
  --thin-line: 1px solid #888;
}

body {
  width: var(--page-width);
  height: var(--page-height);
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px;
  font-family: "Roboto", "Archihvo", "Open Sans", Sans;
  color: #222;
  font-weight: 300;
  line-height: 1.3;
  //letter-spacing: -0.5px;
  hyphens: auto;
  background-color: #888;
}

h1, h2, h3, h4, p {
  margin: 0px auto;
}

h1 {
  font-size: 42pt;
  font-weight: 900;
}

h2 {
  font-size: 30pt;
  font-weight: 700;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
}

h4 {
  font-size: 14pt;
  font-weight: 400;
}

p {
  font-size: 11pt;
  letter-spacing: normal;
  color: #888;
}

.padded {
  margin-bottom: var(--paragraph-padding);
}

.fa {
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: #888;
}

.bold {
  font-size: 12pt;
  font-weight: bold;
}

.main{
  width: var(--main-width);
  padding: 0.5in;
  background-color: #fff;
  font-size: 12pt;
}

.flex-column {
  padding: 0px 0px 0px 0px;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 15px;
  border-bottom: var(--thin-line);
}

.name {
  font-weight: 700;
  line-height: .9;
  flex-basis: 0;
  flex-grow: 1;
}

.title {
  flex-basis: 0;
  flex-grow: 1;
}

.contact {
  flex-basis: 0;
  flex-grow: 1;
}

.contact-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--paragraph-padding);
}

.contact-line p {
  margin-left: 10px;
}


.body {
  display: flex;
  justify-content: space-between;

}

.body-header {
  margin-top: var(--div-space-big);
  margin-bottom: var(--div-space-big);
  border-bottom: var(--thick-line);
}

.body-left {
  flex-basis: 0;
  flex-grow: 1;
}

.body-left div, .body-left p, .body-left h3, .body-left h4 {
  margin-right: 30px;
}

.about-content p {
  margin-right: 0px;
}

.projects-content p {
  margin-right: 0px;
}

.education-content p, .education-content h3 {
  margin-right: 0px;
}

.body-right {
  flex-basis: 0;
  flex-grow: 2;
}

.experience-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--div-space-small);
  padding-bottom: var(--div-space-small);
  border-bottom: var(--thin-line);
}

#bottom-box {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.experience-company {
  flex-basis: 0;
  flex-grow: 1;
}

.experience-company h3, .experience-company p  {
  margin-bottom: var(--paragraph-padding);
}

.experience-content {
  flex-basis: 0;
  flex-grow: 1;
}

.experience-content h4 {
  padding-bottom: var(--paragraph-padding);
}

.footer {
  display: flex;
  margin-top: 20px;
  padding-top: var(--paragraph-padding);
  border-top: var(--thick-line);
}

.footer-right p {
  margin-top: var(--paragraph-padding);
}

.footer-left {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-center {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-right {
  flex-basis: 0;
  flex-grow: 1;
}
